.Bio {
    margin-top: 250px;
    .flexContainer {
        justify-content: space-evenly;
        .imageContainer,
        .contentContainer {
            width: calc(100%/2 - 50px);
            
        }
        .imageContainer {
            img {
                width: 75%;
                height: 92%;
                object-fit: cover;
            }
        }
        .contentContainer {

            #toggle {
                display: none;
            }
            
            .button {
                display: flex;
                width: 90px;
                height: 35px;
                background-color: #fff;
                border-radius: 30px;
                position: relative;
                cursor: pointer;
            }
            .button::after {
                content: '';
                width: 40px;
                height: 40px;
                background-color: yellow;
                border: 2px solid #fff;
                border-radius: 50%;
                box-shadow: 0 0 5px;
                position: absolute;
                top: -5px;
                left: 0;
                place-content: center;
                line-height: 0;
                transition: background-color 1s;
                transition: ease-in-out 0.5s;
                transform: 1s ease-in;
            }

            #toggle:checked + .button::after {
                content: '';
                background-color: #161a1c;
                transform: translateX(50px) rotate(360deg);
                transition: ease-in-out 0.5s;
                
            }


            p {
                line-height: 3.4rem;
            }
            .social {
                display: flex;
                justify-content: space-evenly;
                padding-top: 50px;
                padding-left: 0px;
                .github {
                    i {
                
                        &:hover,
                        &:focus {
                            color: #fff;
                        }
                    }
                }
                
                .twitter {
                    i {
                
                        &:hover,
                        &:focus {
                            color: #1da1f2;
                        }
                    }
                }
                
                .linkedin {
                    i {
                
                        &:hover,
                        &:focus {
                            color: #0077b5;
                        }
                    }
                }
                
                .medium {
                    i {
                
                        &:hover,
                        &:focus {
                            color: #fff;
                        }
                    }
                }
                i {
                    color: $navText;
                    font-size: 3rem;
                    &:hover,
                    &:focus {
                        cursor: pointer;
                        transition: 0.5s ease-in-out;
                    }
                    
                
                }
            
            
                
                img {
                    background-color: $navText;
                    height: 3rem;
                }
                
            
            }
        }

    }

}