.wrapper {
    width: 90%;
    max-width: 1580px;
    margin: 0 auto;
}
html {
    font-size: 62.5%;
}

body {
    font-family: $headingFont;
    background-color: $background;
    color: $text;
    transition: ease-in-out 0.5s;
    overflow-x: hidden;
}

body.active {
    background-color: rgb(195, 194, 194);
    color: black;
}

h1 {
    font-size: 8rem;
    
    font-weight: bold;
}

h2 {
    font-size: 6rem;
    
}

h3 {
    font-size: 5rem;
    
}

h4 {
    font-size: 3rem;
    
}

h5 {
    font-size: 2rem;
    
}

p {
    font-size: 1.8rem;
}


ul {
    list-style: none;
    
    li {
    
        a {
            
            text-transform: uppercase;
            text-decoration: none;
            
        }
    }
}

.flexContainer {
    display: flex;
}

.aboutMe {
    background-image: url(/images/aboutMeShadow.jpg);
}

.aboutMe.active {
    color: #fff;
}

.from-left {
    transform: translateX(-50%);
    opacity: 0;
}

.from-right {
    transform: translateX(50%);
    opacity: 0;
}


.from-left.appear {
    transform: translateX(0);
    opacity: 1;

}

.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

.from-left,
.from-right,
.from-bottom {
    transition: 
    opacity 250ms ease-in,
    transform 400ms ease-in;
    
}

.blink{
    animation: blinker 1s infinite;
    
}

@keyframes blinker{
    50% {
        opacity: 0;
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
    transition-delay: 2.7s;
}

.fade-in.appear {
    opacity: 1;
}