header {
    background-color: #242425;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    .alexFace {
        position: relative;
        transform: translateX(-50%);
        left: 0;
        z-index: 10;
        
    }
    // .alexFace::before,
    // .alexFace::after {
    //     content: '';
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    // }
    // .alexFace::before {
    //     z-index: 100;
    // }

    // .alexFace:hover::after {
    //     background-color: rgb(248, 211, 217);
    //     animation: pulse 900ms infinite;
    //     position: absolute;
    //     border-radius: 55%;
    // }

    @keyframes pulse {
        0% {
            transform: scale(0.75);
            opacity: 0.75;
        } 
        100% {
            transform: scale(1);
            opacity: 0;
        }
    }
    .slideOutNav {
        // z-index: 500;
        transition: ease 0.7s;
        height: 100vh;
        width: 0;        
        background-color: #262627;
        position: absolute;
        overflow-x: hidden;
        
        right: -300px;
        
        // display: none;
    
        .slideOutUl {
            padding: 0;
            li {
                margin-top: 50px;
                text-align: center;
                a {
                    color: #fff;
                    font-family: $headingFont;
                    font-size: 5rem;
                    text-align: center;
                    
                }
            }
        }
        
    }
    .slideOutNav.active {
        right: 0;
        z-index: 500;
        height: 100vh;
        width: 100%;
        transition-delay: 1.3s;
        }
    
    nav {
        display: flex;
        justify-content: flex-end;
        
    
        .navMenu {
            position: absolute;
            right: 0;
            font-weight: 4rem;
            padding: 2rem;
            visibility: hidden;
            z-index: 9999;            
            
        }
        .navMenu > span {
            display: block;
            width: 28px;
            height: 2px;
            border-radius: 999px;
            background-color: #fff;
            

        }
        .navMenu > span:not(:last-child) {
            margin-bottom: 7px;
            
        }
        .navMenu, .navMenu > span {
            transition: all .4s ease-in-out;
        }
        .navMenu.active {
            transition-delay: 0.8s;
            transform:rotate(45deg);

        }
        .navMenu.active > span:nth-child(2) {
            width: 0;
        }

        .navMenu.active > span:nth-child(1),
        .navMenu.active > span:nth-child(3) {
            transition-delay: 0.4s;
        }

        .navMenu.active > span:nth-child(1) {
            transform: translateY(9px);
        }

        .navMenu.active > span:nth-child(3) {
            transform: translateY(-9px) rotate(90deg);
        }


        ul {
            
            display: flex;
            // position: fixed;
            z-index: 999;
            
            
            li {
                margin-right: 50px;
                a {
                    color: $navText;
                    font-size: 2rem;
                &:hover,
                &:focus {
                    color: $text;
                    transition: 0.3s ease;
                    transform: translateY(5%);
                }
                }
            }
        }
    }
}