@media (max-width: 788px) {
    .alexFace {
        visibility: hidden;
    
    }
}
@media (max-width: 760px) {
    header nav {
        justify-content: center;
    }
}

@media (max-width: 640px) {
    header {
        nav {
            ul {
                display: none;
            }
            .navMenu {
                visibility: visible;
                
            }
        }
        // .slideOutNav {
            
        // }
    
    }
}