header {
    background-color: #242425;
    .alexFace {
        position: absolute;
        left: 0;
        padding-left: 1;
    }
    .slideOutNav {
        // z-index: 500;
        transition: ease 0.7s;
        // .x {
        //     i {
        //         font-size: 3rem;
        //         position: absolute;
        //         right: 0;
        //         padding-right: 20px;
        //     }
        // }
        height: 100vh;
        width: 0;
        
        background-color: #262627;
        position: absolute;
        overflow-x: hidden;
        
        right: -300px;
        
        // display: none;
    
        .slideOutUl {
            padding: 0;
            li {
                margin-top: 50px;
                text-align: center;
                a {
                    color: #fff;
                    font-family: $headingFont;
                    font-size: 5rem;
                    text-align: center;
                    
                }
            }
        }
        
    }
    .slideOutNav.active {
        right: 0;
        z-index: 500;
        height: 100vh;
        width: 100%;
        transition-delay: 1.3s;
        }
    
    nav {
        display: flex;
        justify-content: flex-end;
        // i {
        //     position: absolute;
        //     left: 0;
        //     font-size: 4rem;
        //     padding: 2rem;
        //     visibility: hidden
            
        // }
        .navMenu {
            position: absolute;
            right: 0;
            font-weight: 4rem;
            padding: 2rem;
            visibility: hidden;
            z-index: 9999;            
            
        }
        .navMenu > span {
            display: block;
            width: 28px;
            height: 2px;
            border-radius: 999px;
            background-color: #fff;
            

        }
        .navMenu > span:not(:last-child) {
            margin-bottom: 7px;
            
        }
        .navMenu, .navMenu > span {
            transition: all .4s ease-in-out;
        }
        .navMenu.active {
            transition-delay: 0.8s;
            transform:rotate(45deg);

        }
        .navMenu.active > span:nth-child(2) {
            width: 0;
        }

        .navMenu.active > span:nth-child(1),
        .navMenu.active > span:nth-child(3) {
            transition-delay: 0.4s;
        }

        .navMenu.active > span:nth-child(1) {
            transform: translateY(9px);
        }

        .navMenu.active > span:nth-child(3) {
            transform: translateY(-9px) rotate(90deg);
        }


        ul {
            display: flex;
            
            
            li {
                margin-right: 50px;
                a {
                    color: $navText;
                    font-size: 2rem;
                &:hover,
                &:focus {
                    color: $text;
                    transition: 0.3s ease;
                }
                }
            }
        }
    }
}