.apps {
    h2 {
        text-align: center;
        padding: 150px 0;
    }
    .carousel{
        width: 100%;
        
        overflow: hidden;
        .container {
            width: 75%;
            margin: auto;
            ul {
                transition: transform 0.35s ease-in-out;
    
                display: flex;
                width: 100%;            
                padding: 0;                
                li.current {
                    
                    opacity: 1;
                }
                li {
                    display: flex;
                    flex-direction: column;
                    flex: 0 0 100%;
                    opacity: 0.25;
                    padding: 0 20px 0 20px;
                    transition: opacity 0.35s ease-in-out;
                    h3,
                    p {
                        text-align: center;
                    }
                    a {
                        color: $navText;
                        font-size: 2.2rem;
                        
                    }
                    // width: calc(100%/3 - 50px);
                    i {
                        padding: 10px;
                    }
                    .imageContainer {
                        position: relative;
                        img {
                            width: 100%;
                            height: 500px;
                            object-fit: cover;
                        }
                        
                    }
                    
        
                }
            }
        }

        .buttonContainer {
            display: flex;
            justify-content: space-between;
            width: 30%;
            
            margin: auto;
            gap: 1rem;
            i{
                font-size: 5rem;
                background-color: transparent;
            }
        }
        }
   
}